{% extends "templates/base.html" %}
{% block content %}
<h1>Recently Added</h1>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <ol class="albums">
            {% for a in albums %}
            <li>
                <div class="artist"><a href="/albums/{{a.artist}}">{{a.artist}}</a></div>
                <div class="album-name">{{a.album_name}}</div>
                <div class="release-date">{{a.release_date}}</div>
            </li>
            {% endfor %}
        </ol>
    </div>
    <div class="col-sm-6 col-md-4">
        <form role="form" method="post" class="add-album">
            <div class="form-group">
                <label for="artist_name">Artist</label>
                <ul class="errors">
                    {% for e in errors.artist_name %}
                    <li>{{e}}</li>
                    {% endfor %}
                </ul>
                <input type="input" name="artist_name" class="form-control" id="artist_name" value="{{ new.artist_name }}">
            </div>
            <div class="form-group">
                <label for="album_name">Album</label>
                <ul class="errors">
                    {% for e in errors.album_name %}
                    <li>{{e}}</li>
                    {% endfor %}
                </ul>
                <input type="input" name="album_name" class="form-control" id="album_name" value="{{ new.album_name }}">
            </div>
            <div class="form-group">
                <label for="release_date">Release Date</label>
                <ul class="errors">
                    {% for e in errors.release_date %}
                    <li>{{e}}</li>
                    {% endfor %}
                </ul>
                <input type="date" name="release_date" class="form-control" id="release_date" value="{{ new.release_date }}">
                <p class="help-block">yyyy-mm-dd</p>
            </div>
            <div class="form-group submit">
                <button type="submit" class="btn btn-success">Add</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
