html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    padding-top: 40px;
}

.errors {
  padding-left: 20px;
  color: red;
}

.albums {
  list-style: none;
}

.albums li {
  margin-bottom: 8px;
}

.add-album .submit {
  text-align: right;
}
